* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

input {
  width: 300px;
  padding: 14px;
  border-width: 3px;
  border-color: #99c8ff;
  border-radius: 10px;
  font-size: 20px;
}

button {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: #99c8ff;
}
